body {
    box-sizing: border-box;
}

body, input, button {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: 1rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}
