body {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, input, button {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: 1rem;
}

.hidden {
    display: none;
}

.intro {
    place-items: center;
}

img {
    display: block;
}
